{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<br>
<center>
  <h1>Todo's</h1>
  <br>
  {% for todo_list in todos %}
  <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{todo_list.name}}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{todo_list.start_time}}</h6>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{todo_list.end_time}}</h6>
          <p class="card-text">{{todo_list.user}}</p>
        </div>
      </div>
      <br>
    {% empty %}
    <h4>You have no todo. You are free!</h4>
    {% endfor %}
    <br>
    <a class="btn btn-primary" href="{% url 'create' %}">Create new</a>
  </center>
{% endblock %}