<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Todo's</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item text-light">
            <a class="nav-link text-light" href="#">Todo's</a>
          </li>
          {% if request.user.is_authenticated %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu" style="width: 100%;">
              <li><a class="dropdown-item" href="#"><span>{{request.user.username}}</span> {% if request.user.account.avatar %} <img src="{{request.user.account.avatar.url}}" alt="" style="width: 20%;">{% endif %}</a></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
            </ul>
          </li>
          {% else %}

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Profile
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'login' %}">Log in</a></li>
              <li><a class="dropdown-item" href="{% url 'register' %}">Sign up</a></li>
            </ul>
          </li>
          {% endif %}
          </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name = "search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>